<%= form_for(@date_type) do |f| %>
  <% if @date_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@date_type.errors.count, "error") %> prohibited this date_type from being saved:</h2>

      <ul>
      <% @date_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :plainformat %><br>
    <%= f.text_field :plainformat %>
  </div>
  <div class="field">
    <%= f.label :senml %><br>
    <%= f.text_field :senml %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
