<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @node.location %>
</p>

<p>
  <strong>Phone flag:</strong>
  <%= @node.phone_flag %>
</p>

<p>
  <strong>Urn:</strong>
  <%= @node.urn %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
