<h1>Listing reward_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reward_categories.each do |reward_category| %>
      <tr>
        <td><%= reward_category.name %></td>
        <td><%= link_to 'Show', reward_category %></td>
        <td><%= link_to 'Edit', edit_reward_category_path(reward_category) %></td>
        <td><%= link_to 'Destroy', reward_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward category', new_reward_category_path %>
