<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :start_datetime %><br>
    <%= f.text_field :start_datetime %>
  </div>
  <div class="field">
    <%= f.label :end_datetime %><br>
    <%= f.text_field :end_datetime %>
  </div>
  <div class="field">
    <%= f.label :participation %><br>
    <%= f.text_field :participation %>
  </div>
  <div class="field">
    <%= f.label :voters %><br>
    <%= f.text_field :voters %>
  </div>
  <div class="field">
    <%= f.label :ranking %><br>
    <%= f.text_field :ranking %>
  </div>
  <div class="field">
    <%= f.label :interaction %><br>
    <%= f.text_field :interaction %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :radius %><br>
    <%= f.text_field :radius %>
  </div>
  <div class="field">
    <%= f.label :minimum_age %><br>
    <%= f.text_field :minimum_age %>
  </div>
  <div class="field">
    <%= f.label :maximum_age %><br>
    <%= f.text_field :maximum_age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :employment_sector %><br>
    <%= f.text_field :employment_sector %>
  </div>
  <div class="field">
    <%= f.label :employment_status %><br>
    <%= f.text_field :employment_status %>
  </div>
  <div class="field">
    <%= f.label :camera %><br>
    <%= f.text_field :camera %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :accelerometer %><br>
    <%= f.text_field :accelerometer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
