<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment.description %>
</p>

<p>
  <strong>Participation:</strong>
  <%= @experiment.participation %>
</p>

<p>
  <strong>Voters:</strong>
  <%= @experiment.voters %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @experiment.ranking %>
</p>

<p>
  <strong>Interaction:</strong>
  <%= @experiment.interaction %>
</p>

<p>
  <strong>Status:</strong>
  <%= @experiment.status %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
