<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_type.name %>
</p>

<p>
  <strong>Plainformat:</strong>
  <%= @data_type.plainformat %>
</p>

<p>
  <strong>Senml:</strong>
  <%= @data_type.senml %>
</p>

<%= link_to 'Edit', edit_data_type_path(@data_type) %> |
<%= link_to 'Back', data_types_path %>
